@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  background-image: url(/bg.png);
  background-size: cover;
  padding: 0 20% 0 20%;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
}