.addSong {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.addSongTitle {
    font-family: 'Rubik Mono One', monospace;
    font-size: 28px;
    color: #995AFF;
}

.addSongForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px 100px 30px 100px;
    border-radius: 20px;
    color: white;
}

.addSongInput {
    background-color: rgba(60, 60, 60, 0.6);
    width: 90%;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    padding: 20px;
}

.addSongFileInput {
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 80px;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 20px;
    border-radius: 10px;
}

.addSongFileTitle {
    font-size: 18px;
    color: #959595;
}

.addSongfile {
    background-color: rgba(60, 60, 60, 0.6);
    padding: 20px;
    border-radius: 10px;
}

.addSongButton {
    background-color: #995AFF;
    padding: 20px;
    width: fit-content;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 20px;
}