.card {
    position: relative;
    z-index: 1;
    width: 230px;
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 10px;
    font-size: 17px;
}

.rating {
    font-family: 'Rubik Mono One', monospace;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    color: #995AFF;
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
}

.card:hover {
    .rating {
        visibility:visible;
    }
}

.text {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.ratingText {
    font-size: 16px;
}

.ratingValue {
    font-size: 86px;
}

.cardImg {
    padding: 20px;
    width: 200px;
    height: 200px;
    border-radius: 30px;
}

.title {
    padding: 0 10px 0 10px;
    font-weight: 600;
    margin-top: -15px;

}

.title:hover {
    text-decoration: underline;
    color: #995AFF;
}

.description {
    padding: 10px;
    font-weight: lighter;
}